:root {
    --clr-tan: #F7E9AD;
    --clr-red: #E13829;
    --clr-orange: #E05D2F;
    --clr-yellow: #FFB43D;
    --clr-green: #A5C972;
    --clr-teal: #6BB38E;
    --clr-purple: #541E35;
}

@font-face {
    font-family: Montagu-Slab;
    src: url('/assets/fonts/Montagu_Slab/static/MontaguSlab_120pt-Regular.ttf');
}
@font-face {
    font-family: Montagu-Slab-Bold;
    src: url('/assets/fonts/Montagu_Slab/static/MontaguSlab_120pt-Bold.ttf');
}

body{
    font-family: Montagu-Slab;
    background-color: var(--clr-yellow);
    background-image: url(/assets/Background1.png);
    background-size: 100% 100%;
    background-repeat: repeat-x;
}

h1{
    font-family: Montagu-Slab-Bold;
    font-size: 40px;
}

/* Navbar Stuff */

.navbar-brand{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.navbar{
    text-align: center;
    background-color: var(--clr-yellow);
}

.nav-hover{
    padding: 0px 10px;
}

.offcanvas-body, .offcanvas-header, .navbar-full, .hero-box{
    background-color: var(--clr-yellow);
}

.this-page{
    color: var(--clr-red);
    text-decoration: underline;
}

.nav-hover:hover{
    color: var(--clr-red);
    opacity: 85%;
    text-decoration: underline;
}

.logo-burger{
    display: flex;
    align-items: center;
}

/* Hero Image */

.orange-bar{
    background-color: var(--clr-orange);
    color: var(--clr-tan);
    text-align: center;
    padding: 10px;
    font-size: 40px;
}

.purple-bar{
    background-color: var(--clr-purple);
    color: var(--clr-tan);
    text-align: center;
    padding: 10px 30px;
}

.purple-bar-small{
    background-color: var(--clr-purple);
    color: var(--clr-tan);
    text-align: center;
    padding-top: 2px;
    padding-bottom: 1px;
}

.purple-bar-small > h5{
    margin-top: 5px;
}

.hero-img{
    object-fit: cover;
    height:600px;
    width: 100%;
}

.hero-box{
    text-align: center;
}
.hero-text{
    padding-top: 10%;
}

.home-box{
    background-color: var(--clr-tan);
    padding: 0px 50px;
}

.info-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 25px;
}

.info-grid > div > img{
    height: auto;
    max-height: 500px;
    max-width: 500px;
    border-radius: 100%;
    margin: 20px;
    color: var(--clr-tan);
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-box{
    margin: 5px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.27);
    border-radius: 10px;
    font-size: 25px;
}

.home-card1{
    background-color: var(--clr-orange);
    text-align: center;
    color: var(--clr-tan);
    padding: 20px;
    margin-bottom: 20px;
}
.home-card2{
    background-color: var(--clr-green);
    text-align: center;
    color: var(--clr-tan);
    padding: 20px;
    margin-bottom: 20px;
}
.home-card3{
    background-color: var(--clr-teal);
    text-align: center;
    color: var(--clr-tan);
    padding: 20px;
    margin-bottom: 20px;
}

.footer-grid{
    background-color: var(--clr-yellow);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.footer-btn{
    display: flex;
    justify-content: center;
    padding: 40px 0px;
}
.footer-btn > button{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    border-radius: 10px;
    border: none;
    width: 425px;
    height: 132px;
    font-size: 30px;
    background-color: var(--clr-orange);
    color: var(--clr-tan);
}
button > div > p{
    font-size: 20px;
}

.svg-icon{
    display: flex;
    justify-content: center;
    margin-left: 25px;
}

.footer-btn > button:hover{
    background-color: #e05e2fac;
}

@media (max-width: 1400px) and (min-width: 1200px){
    .footer-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 1200px) and (min-width: 769px){
    .info-grid{
        grid-template-columns: 1fr;
    }
    .footer-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 1200px) and (min-width: 881px){

    .footer-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 880px){
    .info-grid{
        grid-template-columns: 1fr;
    }
    .footer-grid{
        grid-template-columns: 1fr;
    }
}